.table-product td{
    vertical-align: middle !important;
}
.table-product tr{
    border-bottom: 1px solid rgba(0, 0, 0, 0.58);
}
.table-product .thumbnail{
     margin-bottom: 0;
}
#option_group label{
    width: 100%;
}
#option_group .form-control{
    width: 49%;
    display: inline-flex;
}
#option_group .form-control label{
    font-size: 10px;
    line-height: 21px;
    margin-left: 2px;
}
#option_group{
}