.table > thead > tr > th{
    vertical-align: middle;
    border-bottom: none;
    text-align: center;
}
.table > thead{
    border-bottom: 2px solid #ddd;
}
.qty{
    width: 40px;
    text-align: center;
    color: #5cb85c;
    font-weight: bold;
}
.footer_tb td{
    vertical-align: middle !important;
}